.jj
{
    background-image: url(crime.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 9500px 200px;
    height:425px;
    background-size: cover;
    padding-top: 70px;
    position: relative;

}